<div style="margin: 15px;">
    <form class="layui-form" >

        <div class="layui-form-item">
            <label class="layui-form-label">账号</label>
            <div class="layui-input-block">
                <input type="text" name="account" value="${detail.account!}" readonly="readonly" lay-verify="required" autocomplete="off" class="layui-input"/>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">用户名</label>
            <div class="layui-input-block">
                <input type="text" name="name" value="${detail.name!}" readonly="readonly" lay-verify="required" autocomplete="off" class="layui-input"/>
            </div>
        </div>


        <div class="layui-form-item">
            <label class="layui-form-label">状态</label>
            <div class="layui-input-block">
                <#if detail.status == false>
                <input type="radio" name="status" value="false" title="正常" checked disabled>
                <input type="radio" name="status" value="true" title="失效" disabled/>
                <#elseif detail.status == true>
                <input type="radio" name="status" value="false" title="正常" disabled/>
                <input type="radio" name="status" value="true" title="失效" checked disabled/>
                <#else>
                    <input type="radio" name="status" value="" title="未知" checked disabled/>
                </#if>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">角色</label>
            <div class="layui-input-block">
                <input type="text" name="roleName" value="${detail.roleName!}" readonly="readonly"  autocomplete="off" class="layui-input"/>
            </div>
        </div>


        <div class="layui-form-item">
            <label class="layui-form-label">头像</label>
            <div class="layui-input-block">
                <#if detail?? && detail.head??>
                    <img src="${detail.head!}" style="height: 150px;width: 150px" title="鼠标点击放大" onclick="displayimg('${detail.head!}');"/>
                <#else>
                    <img src="/images/0.jpg" style="height: 150px;width: 150px"  onclick="displayimg('/images/0.jpg');"/>
                </#if>
            </div>
        </div>


        <div class="layui-form-item">
            <label class="layui-form-label">创建时间</label>
            <div class="layui-input-block">
                <input type="text" name="createTime" value="${(detail.createTime?string('yyyy-MM-dd HH:mm:ss'))!}" readonly="readonly" autocomplete="off" class="layui-input"/>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">创建人</label>
            <div class="layui-input-block">
                <input type="text" name="createUser" value="${detail.createUser!}" readonly="readonly" autocomplete="off" class="layui-input"/>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">修改时间</label>
            <div class="layui-input-block">
                <input type="text" name="updateTime" value="${(detail.updateTime?string('yyyy-MM-dd HH:mm:ss'))!}" readonly="readonly" autocomplete="off" class="layui-input"/>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">修改人</label>
            <div class="layui-input-block">
                <input type="text" name="updateUser" value="${detail.updateUser!}" readonly="readonly" autocomplete="off" class="layui-input"/>
            </div>
        </div>

    </form>
</div>
<script>
    function displayimg(url) {
        layer.open({
            type: 1,
            title: false,
            closeBtn: 0,
            area: 'auto',
            skin: 'layui-layer-nobg', //没有背景色
            shadeClose: true,
            content: "<img style=\"height: 100%;width: 100%\" src=" + url + " />"
        });
    }
</script>